.titleList, .locationList{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    background: white;
    width: 40vw;
}

.mapDiv {
    margin-top: -20px;
    margin-left: -20px;
}

agm-map {
    height: 100vh;
}

.titleList, .locationList {
    z-index: 1000;
}