<!-- <div *ngIf="!titleSelected" class="titleList">
    <input [(ngModel)]='movieTitle' id='search' name="searchInput"/>
    <div *ngIf="movieTitle">
        <table>
            <tbody>
                <tr *ngFor="let item of searchItems" (click)="onTitleSelect(item)">
                    <td>{{ item }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="titleSelected" class="locationList">
    <input [(ngModel)]='movieTitle' id='search' name="searchInput"/>
    <div *ngIf="movieTitle">
            <table>
                <tbody>
                    <tr *ngFor="let locObj of locations">
                        <td>{{ locObj.title }}</td>
                        <td>{{ locObj.locations }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
<div *ngIf="movieTitle" class="mapDiv">
    <agm-map [latitude]='mapOptions.lat' [longitude]='mapOptions.lng' [zoom]='mapOptions.zoom'>
      <agm-marker *ngFor="let locObj of currentMovieLocationsCoordinates" [latitude]="locObj.lat" [longitude]="locObj.lng"></agm-marker>
    </agm-map>
</div> -->


<div class="titleList">
    <div>
      <input [(ngModel)]='movieTitle' id='search' name="searchInput"/>
    </div>
    <div *ngIf="movieTitle">
      <table *ngIf="!titleSelected">
          <tbody>
              <tr *ngFor="let item of searchItems" (click)="onTitleSelect(item)" class="display-block">
                  <td class="display-block"><b></b>{{ item }}</td>
              </tr>
          </tbody>
      </table>
      <table *ngIf="titleSelected">
          <tbody>
              <tr *ngFor="let locObj of locations">
                  <td>{{ locObj.title }}</td>
                  <td>{{ locObj.locations }}</td>
              </tr>
          </tbody>
      </table>
    </div>
</div>
   
<div *ngIf="movieTitle" class="mapDiv">
    <agm-map [latitude]='lat' [longitude]='lng'>
      <agm-marker *ngFor="let locObj of locations" [latitude]="locObj.lat" [longitude]="locObj.lng"></agm-marker>
    </agm-map>

</div>