<div class="titleList">
    <div>
      <input [(ngModel)]='movieTitle' id='search' name="searchInput"/>
    </div>
    <div *ngIf="movieTitle">
      <table *ngIf="!titleSelected">
          <tbody>
              <tr *ngFor="let item of searchItems" (click)="onTitleSelect(item)" class="display-block">
                  <td class="display-block"><b></b>{{ item }}</td>
              </tr>
          </tbody>
      </table>
      <table *ngIf="titleSelected">
          <tbody>
              <tr *ngFor="let locObj of locations">
                  <td>{{ locObj.title }}</td>
                  <td>{{ locObj.locations }}</td>
              </tr>
          </tbody>
      </table>
    </div>
</div>
   
<div class="mapDiv">
    <agm-map [latitude]='mapOptions.lat' [longitude]='mapOptions.lng' [zoom]='mapOptions.zoom'>
      <agm-marker *ngFor="let locObj of commonService.currentMovieLocationsCoordinates" [latitude]="locObj.lat" [longitude]="locObj.lng"></agm-marker>
    </agm-map>

</div>